<div class="" role="group" aria-label="Map controls" style="position:relative;z-index:2;">
	<strong><span style="background-color: bisque; color: black; font-size: 0.7em;" id="gps-wp-distance">?</span></strong>	
</div>
<div class="btn-group" role="group" aria-label="Map controls" style="position:relative;z-index:2;top:-3px;">
	<button id="followModeButton" type="button" class="btn btn-primary btn-sm" onclick="toggleFollowPlane();$(this).blur();"><span id="followMode">Unfollow Plane</span></button>
	<button id="GPStrackButton" type="button" class="btn btn-primary btn-sm" onclick="toggleGPStrack();$(this).blur();">GPS Track</button>
	<button id="FltPlnButton" type="button" class="btn btn-danger btn-sm" onclick="loadFltPln();$(this).blur();"><span id="FltPlnText">Load Flight Plan</button>
</div>